[Tt]emp/
_site/
.jekyll-cache/
.sass-cache/
*.nuget.props
*.nuget.targets
*.nupkg
*.old
*~
.DS_Store
.DS_Store?
.jekyll-metadata
.Spotlight-V100
.Trashes
._*
~$*
ehthumbs.db
Icon?
Icons?
Thumbs.db

# Specific Files
post-2000-00-00 Template.md
