# General Items
[Tt]emp/
*.nuget.props
*.nuget.targets
*.nupkg
*.old
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
~$*
ehthumbs.db
Icon?
Icons?
Thumbs.db

# Jekyll Items
[Vv]endor
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
