//
// Colors
//

$numbing-pastel #A9ECFC;
$fresh-pastel: #B8FDEC;
$astringent: -pastel: #E0FCCD;
$sour-pastel: #FCFAD1;
$savoury-pastel: #FAE2B7;
$sweet-pastel: #FDD8E2;
$pungent-pastel: #FDCAEB;
$chemical-pastel: #E1CBF8;
$bitter-pastel: #FCD6B4;
$bland-pastel: #FFEACE;
$metallic-pastel: #C6D5DB;
$salty-pastel: #E8E8E8;
$chalky: #FCFCFC;
$numbing: #01CDFC;
$fresh: #00EDB3;
$astringent: #B6F98A;
$sour: #FFFB96;
$savoury: #FBAE61;
$sweet: #FCA6BE;
$pungent (Hot): #FF71CC;
$chemical: #C48AFF;
$bitter: #DCAD83;
$bland: #DBBF9A;
$metallic: #97AFB9;
$salty: #BCBCBC;
$myrcene: #4632A8;
$moist: #1256A9;
$fizzy: #00809B;
$musty: #00715C;
$sharp: #EED44B;
$zingy: #DF7126;
$cloying: #E13B3B;
$extra-bold: #AC276C;
$floral: #6637A4;
$nutty: #753D19;
$dry: #8F7159;
$waxy: #344A53;
$smokey: #747474;
$burnt: #0C0C0C;

$white: #FCFCFC;

$grey-dk-000: #BCBCBC;
$grey-dk-100: #747474;
$grey-dk-200: #747474;
$grey-dk-250: #747474;
$grey-dk-300: #747474;

$grey-lt-000: #E8E8E8;
$grey-lt-100: #E8E8E8;
$grey-lt-200: #E8E8E8;
$grey-lt-300: #BCBCBC;

$purple-000: #E1CBF8;
$purple-100: #C48AFF;
$purple-200: #C48AFF;
$purple-300: #6637A4;

$blue-000: #A9ECFC;
$blue-100: #01CDFC;
$blue-200: #01CDFC;
$blue-300: #1256A9;

$green-000: #B8FDEC;
$green-100: #00EDB3;
$green-200: #00EDB3;
$green-300: #00809B;

$yellow-000: #FCFAD1;
$yellow-100: #FFFB96;
$yellow-200: #FFFB96;
$yellow-300: #EED44B;

$red-000: #FDD8E2;
$red-100: #FCA6BE;
$red-200: #FCA6BE;
$red-300: #E13B3B;

$body-background-color: $chalky;
$sidebar-color: $salty-pastel;
$search-background-color: $chalky;
$table-background-color: $chalky;
$code-background-color: $metallic-pastel;
// $feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $burnt;
$body-heading-color: $numbing;
$search-result-preview-color: $salty;
$nav-child-link-color: $chemical;
$link-color: $floral;
$btn-primary-color: $floral;
$base-button-color: #chalky;
