* {
    //
    // Parquet Palette
    //
    $numbing-pastel: #A9ECFC;
    $fresh-pastel: #B8FDEC;
    $astringent-pastel: #E0FCCD;
    $sour-pastel: #FCFAD1;
    $savoury-pastel: #FAE2B7;
    $sweet-pastel: #FDD8E2;
    $pungent-pastel: #FDCAEB;
    $chemical-pastel: #E1CBF8;
    $bitter-pastel: #FCD6B4;
    $bland-pastel: #FFEACE;
    $metallic-pastel: #C6D5DB;
    $salty-pastel: #E8E8E8;
    $chalky: #FCFCFC;
    $numbing: #01CDFC;
    $fresh: #00EDB3;
    $astringent: #B6F98A;
    $sour: #FFFB96;
    $savoury: #FBAE61;
    $sweet: #FCA6BE;
    $pungent: #FF71CC;
    $chemical: #C48AFF;
    $bitter: #DCAD83;
    $bland: #DBBF9A;
    $metallic: #97AFB9;
    $salty: #BCBCBC;
    $myrcene: #4632A8;
    $moist: #1256A9;
    $fizzy: #00809B;
    $musty: #00715C;
    $sharp: #EED44B;
    $zingy: #DF7126;
    $cloying: #E13B3B;
    $extra-bold: #AC276C;
    $floral: #6637A4;
    $nutty: #753D19;
    $dry: #8F7159;
    $waxy: #344A53;
    $smokey: #747474;
    $burnt: #0C0C0C;

    //
    // Just the Docs Colors
    //
    $white: $chalky !important;

    $grey-dk-000: $smokey;
    $grey-dk-100: $smokey;
    $grey-dk-200: $smokey;
    $grey-dk-250: $smokey;
    $grey-dk-300: $burnt;

    $grey-lt-000: $salty-pastel;
    $grey-lt-100: $salty;
    $grey-lt-200: $salty;
    $grey-lt-300: $salty;

    $purple-000: $chemical-pastel;
    $purple-100: $chemical;
    $purple-200: $floral;
    $purple-300: $myrcene;

    $blue-000: $numbing-pastel;
    $blue-100: $fizzy;
    $blue-200: $numbing;
    $blue-300: $moist;

    $green-000: $astringent-pastel;
    $green-100: $fresh-pastel;
    $green-200: $astringent;
    $green-300: $musty;

    $yellow-000: $sour-pastel;
    $yellow-100: $sour;
    $yellow-200: $sour;
    $yellow-300: $sharp;

    $red-000: $sweet-pastel;
    $red-100: $pungent-pastel;
    $red-200: $sweet;
    $red-300: $cloying;

    $body-background-color: $chalky !important;
    $sidebar-color: $salty-pastel !important;
    $search-background-color: $chalky !important;
    $table-background-color: $chalky !important;
    $code-background-color: $metallic-pastel !important;

    $body-text-color: $burnt !important;
    $body-heading-color: $numbing !important;
    $search-result-preview-color: $salty !important;
    $border-color: $burnt !important;

    $nav-child-link-color: $chemical !important;
    $link-color: $floral !important;
    $btn-primary-color: $floral !important;
    $base-button-color: #chalky !important;

    //$feedback-color: darken($sidebar-color, 3%) !default;
}
